#header{
    font-size:38px;
    text-align:center;
    padding:5px;
}
.people-detail{
    width:100%; 
    background-color:white;   
}
.people-row{
padding:2px;
cursor:pointer;
}
.people-row:nth-child(even){
    background-color:whitesmoke;
}
.border-1{
    border:1px solid #000000;
} 
.accordian-header {
    font-size:24px;
}